body {
    background-image: url("../images/bladerunner.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    align-content: center;
    text-align: center;
    color: white;
}

img {
    border: solid white 2px;
    margin: 20px;
}

.container {
    background: #253662;
    margin-top: 20px;
    padding: 20px;
    border: solid white 2px
}

header {
    padding: 20px;
}

#timer-div {
    padding: 20px;
}

.questionDivClass {
    padding: 20px;
}

.eachAnswerDivClass {
    padding: 10px;
}
.button-text-color {
    color: #253662;
    background: white;
}

.button-text-color:hover {
    font-weight: bold;
    color: white;
    background: teal;
}